<footer class="container mb-4">
    <div class="row py-3 d-flex justify-content-center align-items-center">
        <div class="col-auto">
            <a href="https://gpdesign.site/" target="_blank">
                <img src="{{_ruta}}assets/images/logotipos/gpdesign.png" width="100px">
            </a>
        </div>
        <div class="col-auto m-0 p-0">
            <img src="{{_ruta}}assets/images/cor.png" width="160px">
            <p class="copyright m-0">Copyright © 2020 - 2021</p> 
        </div>
    </div>        
</footer>
