<div class="container contacto mt-1">
    <div class="row d-flex justify-content-center mb-3">
        <h1 class="my-3">{{mainTitle}}</h1>
        <div class="col-12 text-center">
            <p>Para comunicarte con nosotros, puedes enviar un correo a <img src="{{_ruta}}assets/images/cor.png" alt="correo" height="20px"></p>
            <p>
                También puedes enviarnos un mensaje directamente, accediendo al siguiente enlace &nbsp; 
                <fa-icon [icon]="faArrowCircleRight" class="icon"></fa-icon>&nbsp;
                <a href="https://gpdesign.site/contacto.php" target="_black">
                    <fa-icon [icon]="faEnvelopeOpenText" class="icon sobre"></fa-icon>
                </a>
            </p>
        </div>
    </div>
</div>


